html {
 line-height: 1.15;
}

body {
 min-width: 320px;
 height: 100%;
 margin: 0;
 padding: 0;
 color: #616161;
 font-family: "Calibri", arial, sans-serif;
 font-size: 18px;
 line-height: 25px;
 font-weight: 400;
 background: #fff url("../img/main-bg.png") no-repeat;
 background-size: cover;
 background-position: center top 20px;
}

details, main {
 display: block;
}

h1 {
 font-size: 2em;
 margin: 0.67em 0;
}

hr {
 box-sizing: content-box;
 height: 0;
 overflow: visible;
}

code, kbd, pre, samp {
 font-family: monospace, monospace;
 font-size: 1em;
}

a {
 background-color: transparent;
 text-decoration: none;
}

abbr[title] {
 border-bottom: none;
 text-decoration: underline dotted;
}

b, strong {
 font-weight: bolder;
}

small {
 font-size: 80%;
}

sub, sup {
 font-size: 75%;
 line-height: 0;
 position: relative;
 vertical-align: baseline
}

sub {
 bottom: -0.25em;
}

sup {
 top: 0-.5em;
}

img {
 border-style: none;
 max-width: 100%;
 height: auto;
}

button, input, optgroup, select, textarea {
 font-family: inherit;
 font-size: 100%;
 line-height: 1.15;
 margin: 0;
}

button, input {
 overflow: visible;
}

button, select {
 text-transform: none;
}

fieldset {
 padding: 0.35em 0.75em 0.625em;
}

legend {
 color: inherit;
 display: table;
 max-width: 100%;
 white-space: normal;
}

progress {
 vertical-align: baseline;
}

textarea {
 overflow: auto;
}

summary {
 display: list-item;
}

[hidden], template {
 display: none;
}

@font-face {
 font-family: "SFUIDisplay";
 font-weight: 500;
 font-style: normal;
 font-display: swap;
 src: local("SFUIDisplay"), url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("../fonts/SFUIDisplay-Medium.woff") format("woff");
}

*, ::after, ::before {
 box-sizing: border-box;
}

@media (min-resolution:144dpi), (min-resolution:1.5dppx) {
 body {
  background-image: url("../img/main-bg.png");
 }
}

.visually-hidden {
 position: absolute;
 overflow: hidden;
 clip: rect(0 0 0 0);
 width: 1px;
 height: 1px;
 margin: -1px;
 padding: 0;
 white-space: nowrap;
 border: 0;
 clip-path: inset(100%);
}

.container {
 max-width: 1250px;
 margin: 0 auto;
 padding: 0 30px;
}

@media (max-width:767px) {
 .container {
  padding: 0 20px;
 }
}

.container--small {
 max-width: 883px;
}

.header {
 position: relative;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding-top: 40px;
 padding-bottom: 0;
}

.header__logo {
 padding-right: 25px;
}

.header__phone {
 align-self: flex-start;
 padding-top: 10px;
 padding-left: 25px;
 color: #141419;
 font-weight: 700;
}

@media (max-width:767px) {
 .header__phone {
  align-self: center;
  padding: 0;
 }
}

.nav {
 flex-grow: 1;
 max-width: 772px;
}

@media (max-width:1023px) {
 .nav {
  order: 2;
  width: 100%;
  margin: 20px auto 0;
 }
}

@media (max-width:767px) {
 .nav--close .nav__list {
  height: 0;
  overflow: hidden;
 }

 .nav--close .nav__toggle::before {
  top: 4px;
  left: 50%;
  width: 20px;
  height: 2px;
  transform: translateX(-50%);
  box-shadow: 0 6px 0 0 #141419, 0 12px 0 0 #141419;
 }

 .nav--close .nav__toggle::after {
  content: none;
 }
}

.nav__list {
 transition: height .5s;
 justify-content: space-between;
 flex-wrap: wrap;
 width: 100%;
 padding: 0;
 margin: 0;
 list-style: none;
}

@media (max-width:767px) {
 .nav__list {
  flex-direction: column;
 }
}

.nav__list, .nav__list li {
 display: flex;
}

@media (max-width:767px) {
 .nav__list li {
  border-bottom: 1px solid gray;
  margin: 0 -20px;
  padding: 5px 20px;
 }

 .nav__list li:first-child {
  border-top: 1px solid gray;
 }
}

.nav__link {
 transition: .3s;
 padding: 5px;
 color: #616161;
 font-size: 18px;
 line-height: 29px;
}

.nav__link:focus, .nav__link:hover {
 opacity: 0.5;
 text-decoration: underline #fb973b;
}

@media (max-width:767px) {
 .nav__link {
  font-size: 28px;
  line-height: 35px;
 }
}

.nav__toggle {
 display: none;
}

@media (max-width:767px) {
 .nav__toggle {
  position: absolute;
  top: 20px;
  right: 30px;
  display: block;
  width: 21px;
  height: 21px;
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent;
 }

 .nav__toggle::after, .nav__toggle::before {
  transition: .5s;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 3px;
  content: "";
  background-color: #000
 }

 .nav__toggle::before {
  transform: translate(-50%, -50%) rotate(45deg);
 }

 .nav__toggle::after {
  transform: translate(-50%, -50%) rotate(-45deg);
 }
}

.title {
 color: #141419;
 font-size: 60px;
 line-height: 72px;
}

@media (max-width:1023px) {
 .title {
  font-size: 50px;
  line-height: 60px;
 }
}

@media (max-width:767px) {
 .title {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
 }
}

.title span {
 box-shadow: inset 0 0.75em #fff, inset 0 0.95em #fb973b;
}

.subtitle {
 margin: 0 0 30px;
 font-size: 24px;
 line-height: 36px;
}

.subtitle b {
 color: #fb973b;
}

@media (max-width:1023px) {
 .subtitle {
  font-size: 20px;
  line-height: 30px;
 }
}

@media (max-width:767px) {
 .subtitle {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
 }
}

.form input[type=tel], .form input[type=text] {
 box-sizing: border-box;
 height: 50px;
 padding-left: 17px;
 transition: .3s;
 color: inherit;
 border: 1px solid #e1e1e1;
 border-radius: 0;
 background-color: #f8f8f8;
 font-family: "SFUIDisplay", arial, sans-serif;
}

.form input[type=tel]::placeholder, .form input[type=text]::placeholder {
 color: inherit;
}

.form input[type=tel]:focus, .form input[type=tel]:hover, .form input[type=text]:focus, .form input[type=text]:hover {
 background-color: #fff;
}

.form button {
 box-sizing: inherit;
 height: 50px;
 cursor: pointer;
 transition: .3s;
 color: #fff;
 border: 0;
 border-radius: 0;
 background-color: #fb973b;
 font-family: "SFUIDisplay", arial, sans-serif;
 font-size: 18px;
 font-weight: 400;
 line-height: 31px;
}

.form button:focus, .form button:hover {
 opacity: 0.8;
}

.form button:active {
 opacity: 0.6;
}

.promo {
 padding-top: 65px;
 padding-bottom: 150px;
 background: url("../img/promo-bg.png") no-repeat;
 background-position: right calc(10% - 52px) center;
 background-size: 52.5vw auto;
}

@media (min-resolution:144dpi), (min-resolution:1.5dppx) {
 .promo {
  background-image: url("../img/promo-bg.png")
 }
}

@media (max-width:1023px) {
 .promo {
  padding-top: 30px;
  padding-bottom: 20px;
  background-position: right calc(10% - 52px) bottom;
 }
}

@media (max-width:767px) {
 .promo {
  padding-top: 30px;
  padding-bottom: 250px;
  background-position: center bottom;
  background-size: 360px;
 }
}

.promo__title {
 max-width: 670px;
 margin: 0 0 18px;
}

.promo__subtitle {
 max-width: 330px;
 margin-bottom: 40px;
}

@media (max-width:767px) {
 .promo__subtitle {
  max-width: none;
  margin-bottom: 20px;
 }
}

.promo__form {
 display: flex;
 max-width: 390px;
}

.promo__form button, .promo__form input[type=tel] {
 width: 50%;
}

@media (max-width:767px) {
 .promo__form {
  max-width: none;
 }
}

@media (max-width:380px) {
 .promo__form {
  flex-direction: column;
 }

 .promo__form button, .promo__form input[type=tel] {
  width: 100%;
 }
}

.about-us {
 padding-top: 57px;
 padding-bottom: 70px;
}

@media (max-width:1023px) {
 .about-us {
  padding-top: 30px;
  padding-bottom: 30px;
 }
}

@media (max-width:767px) {
 .about-us {
  padding-top: 20px;
  padding-bottom: 0;
 }
}

.about-us__title {
 width: 100%;
 margin: 0 auto 9px;
 text-align: center;
}

.about-us__subtitle {
 max-width: 520px;
 margin: 0 auto 20px;
 text-align: center;
}

.about-us__content {
 display: flex;
 align-items: center;
}

@media (max-width:767px) {
 .about-us__content {
  flex-direction: column;
 }
}

.about-us__img {
 display: flex;
 align-items: center;
 justify-content: center;
 width: calc(50% - 15px);
}

@media (max-width:767px) {
 .about-us__img {
  width: 100%;
  margin-bottom: 20px;
 }
}

.about-us__list {
 width: calc(50% - 15px);
 margin: 0;
 padding: 0;
 list-style: none;
 counter-reset: features;
 text-align: center;
}

@media (max-width:767px) {
 .about-us__list {
  width: 100%;
 }
}

.about-us__item {
 position: relative;
 padding: 50px 0 18px;
 counter-increment: features;
 color: #141419;
}

.about-us__item::before {
 position: absolute;
 z-index: 1;
 top: 0;
 left: calc(50% - 11px);
 width: 22px;
 height: 22px;
 content: counter(features);
 color: #fb973b;
 border: 1px solid #fb973b;
 border-radius: 50%;
 background-color: #fff;
 font-size: 18px;
 line-height: 18px;
}

.about-us__item::after {
 position: absolute;
 top: -20px;
 left: calc(50% + .5px);
 width: 1px;
 height: 60px;
 content: "";
 background-color: #fb973b;
}

.about-us__item:first-child::after {
 top: 0;
 height: 40px;
}




